#logo{
width: 100%;
float: right;
display: block;
height: 45px;
line-height: 45px;
border-bottom: 1px solid #f5f5f5;
background-color: #f5f5f5;
margin-bottom: 10px;
z-index: 200;
text-align: center;
}